div.jumbotron {
  background-color: #91AA9D;
  color: #193441;
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 100px;
}

body {
  background-color: #3E606F;
  font-family: 'Unica One', cursive;
  color: #91AA9D;
}

.card {
  border: 2px solid #193441;
  margin: 5px;
  border-radius: 2em;
  text-align: center;
}
